# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
__pycache__/

# IDE
.idea
.vs

# CMAKE
/cmake-build-*

# LIB SPECIFIC
/bin/*
/build/*
/build-*
/build-*.cmd
/build-*.sh
*.pmem
*.log

# USER APP
/myapp/*
/.scannerwork/*
